##
# Bitwarden configuration
##
{% if bitwarden_domain %}
DOMAIN={{ bitwarden_domain }}
{% endif %}
DATA_FOLDER=/var/lib/bitwarden
EXTENDED_LOGGING=true
LOG_FILE=/var/log/bitwarden.log
LOG_LEVEL=info

##
# Bitwarden web vault configuration
##
WEB_VAULT_ENABLED=true
WEB_VAULT_FOLDER=/var/lib/bitwarden/web-vault/
SHOW_PASSWORD_HINT=false

##
# Rocket web server configuration
##
ROCKET_ADDRESS={{ bitwarden_address }}
ROCKET_PORT={{ bitwarden_port }}
ROCKET_LIMITS={json=1048576}
ROCKET_CLI_COLORS=off
